DATA_DIR= # Path
DC_TOKEN= # String
DC_CLIENT_ID= # String
PRIVATE= # 1/0 (true/false)
PRIVATE_USERS= # String; comma seperated.
PRIVATE_GUILDS= # String; comma seperated.
SEXY_PORT= # Int
SEXY_URL= # String; url
SEXY_TITLE_URL= # String; url